
.belowHero {
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: var(--clr3);
}

.belowHero h1,
.belowHero h2,
.belowHero h3 {
  color: black;

  text-shadow: 2px 2px var(--clr5);
}

.belowHero h1 {
  font-size: 80px;
  padding-top: 140px;
  margin-top: 0;
}

.belowHero h2 {
  font-size: 60px;
}

.belowHero h3 {
  font-size: 40px;
}
