.skills {
	margin-bottom: 16px;
}

.btn {
	background-color: var(--clr5);
	margin: 4px;
}

.input{
	background-color: var(--clr1);
	margin: 4px;
	border-radius: 5px;
}

.card-body{
	background-color: var(--clr4);
}

.skill-li{
	list-style: none;
}

.App {
	
	text-align: center;
 }
 
 input[type="text"] {
	width: 50%;
	padding: 5px;
 }

 .notes {
	padding-top: 5px;
	padding-left: 0px;
 }
 
 
 li {
	padding: 0;
	list-style: none;
 }

 .skills-card {
	width: 20rem;
	background-color: var(--clr5);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 5px;
	cursor: pointer;
	border: 3px solid var(--clr4);
	border-radius: 10px;
 }