.section {
  border: 2px solid black;
}

.nav-item {
  list-style: none;
  padding-left: 50px;
  padding-right: 50px;
  color: var(--clr5) !important;
  font-family: Rubik Maze;
  text-shadow: 1px 1px var(--clr1);
}

.hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1,
.hero h2,
.hero h3 {
  color: var(--clr5);
  font-family: Rubik Maze !important;
  text-shadow: 2px 2px var(--clr1);
}

.hero h1 {
  font-size: 80px;
  padding-top: 140px;
  margin-top: 0;
}

.hero h2 {
  font-size: 60px;
}
